@media screen and (min-width: 960px) {
    main {
        display: flex;
        justify-content: space-around;
        border: 1px solid black;
    }
    
    div {
        background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        margin: 20px;
}
}

@media screen and (max-width: 959px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid black;
    }
    
    div {
        background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        margin: 20px;
    }
}